div.content {
    font-size: 20px;
    height: 30em;
}
div.box{
    background: #F5F6CE;
    border: 1px solid #999;
}
_:lang(x)+_:-webkit-full-screen-document, .vertical-p {
    text-align: right;
}
_:lang(x)+_:-webkit-full-screen-document, .vertical {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: right;
    display: inline-block;
}
