	
body{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright; /* すべて縦方向に表示 */
}
a {
  text-decoration: none;
  border-right: 1px dashed;
  padding-right: 3px;
}
p {
  text-indent: 1em;
}
